<div class="container">
  <div class="modal-header">
  </div>
  <div class="abs-center" style="width: auto;height: auto;">
    <form class="border p-3 form">
      <form>
        <div class="modal-header">
          <h4 class="modal-title pull-left">Empleados</h4>
        </div>
        <div class="modal-header">
          <button type="button" class="btn btn-sm btn-success" (click)="create(addNew,null)">
            <span aria-hidden="true">NUEVO</span>
          </button>
        </div>
        <div class="table-responsive" *ngIf="bodyResponse">
          <table class="table align-items-center table-flush" >
            <thead class="thead-light">
              <tr>
                <th scope="col">#</th>
                <th scope="col">Nombre</th>
                <th scope="col">Funcion</th>
                <th scope="col">Email</th>
                <th scope="col">Telefono</th>
                <th scope="col">Jefe</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of bodyResponse; let i = index">
                <td>
                  {{i + 1}}
                </td>
                <td>
                  {{item.fullname}}
                </td>
                <td>
                  {{item.function}}
                </td>
                <td>
                  {{item.email}}
                </td>
                <td>
                  {{item.phone}}
                </td>
                <td>
                  {{ item.boss == null ? "" : item.boss.fullname }}
                </td>
                <td>
                  <button type="button" class="btn btn-sm btn-success" (click)="create(addNew,item)">
                    <span aria-hidden="true">EDITAR</span>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>

      </form>
    </form>
  </div>
</div>

<ng-template #addNew>
  <form [formGroup]="modelForm" (ngSubmit)="onSubmit()">
    
      <div class="card-header bg-white border-0">
        <div class="row align-items-center">
          <div class="col-8">
            <h3 class="mb-0">Nuevo Empleado</h3>
          </div>
          <div class="col-4 text-right">
            <a (click)="doHide()" href="#" class="btn btn-sm btn-default my-4">
              x
            </a>
          </div>
        </div>
      </div>
      <div >
        <div class="border p-3 form">
          <div class="row">
            <div class="col-lg-6">
              <div class="form-group">
                <label class="form-control-label" for="input-email">Nombre</label>
                <input type="name" id="name" class="form-control form-control-alternative" formControlName="name"
                  class="form-control" [ngClass]="{ 'is-invalid': submitted && f.name.errors }" />
                <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                  <div *ngIf="f.name.errors.required">Requerido</div>
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="form-group">
                <label class="form-control-label" for="input-country">Email</label>
                <input type="email" id="email" class="form-control form-control-alternative" formControlName="email"
                  class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
                <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                  <div *ngIf="f.email.errors.required">Requerido</div>
                </div>
              </div>
            </div>

          </div>

          <div class="row">
            <div class="col-lg-6">
              <div class="form-group">
                <label class="form-control-label" for="input-email">Funcion</label>
                <input type="funcion" id="funcion" class="form-control form-control-alternative" formControlName="funcion"
                  class="form-control" [ngClass]="{ 'is-invalid': submitted && f.funcion.errors }" />
                <div *ngIf="submitted && f.funcion.errors" class="invalid-feedback">
                  <div *ngIf="f.funcion.errors.required">Requerido</div>
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="form-group">
                <label class="form-control-label" for="input-country">Telefono</label>
                <input type="number" id="phone" class="form-control form-control-alternative"
                  formControlName="phone" class="form-control"
                  [ngClass]="{ 'is-invalid': submitted && f.phone.errors }" />
                <div *ngIf="submitted && f.phone.errors" class="invalid-feedback">
                  <div *ngIf="f.phone.errors.required">Requerido</div>
                </div>
              </div>
            </div>

          </div>

          <div class="row">
            <div class="col-lg-6">
              <div class="form-group">
                <label class="form-control-label" for="input-email">Jefe</label>
                <select class="form-control form-control-alternative" formControlName="boss" [ngClass]="{ 'is-invalid': submitted && f.boss.errors }" >
                  <option *ngFor="let item of bodyResponse" [ngValue]="item" [selected]="boss">{{item.fullname}}
                  </option>
                </select>
                <div *ngIf="submitted && f.boss.errors" class="invalid-feedback">
                  <div *ngIf="f.boss.errors.required">Requerido</div>
                </div>
              </div>
            </div>
          </div>

        </div>

      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-sm btn-primary my-4">
          Guardar
        </button>
      </div>
  </form>
</ng-template>